// Navbar

#nav
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      a.navbar-logo.navbar-brand(href='/#/')
        span.highlight WikiMarker
      .navbar-header
        ul.nav.navbar-nav
          li.item
            a(href='/#/') List
          li.item
            a(href='/#/bookmarks') Bookmarks
// Navbar End
