// Navbar

#nav
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      a.navbar-logo.navbar-brand(href='/#/')
        img#nav-logo(alt='', src='/imgs/wikimarker.png')
      ul.nav.navbar-nav
        li.item
          a(href='/#/') List
        li.item
          a(href='/#/bookmarks') Bookmarks
        li.item.pull-right
          a.btn.btn-link(href="https://github.com/walkingice/wikimarker", target="_blank") Github
// Navbar End
