@import "~bootstrap/less/bootstrap";
@import "./style";

.white {
    color: white;
}

#nav {
    ul {
        li {
            float: left;
        }
    }
}

#nav-logo {
    height: 100%;
}

#app {
    margin-top: @navbar-height;
}

body {
    background-color: @bg;
    // from http://subtlepatterns.com/
    background-image: url("/imgs/wallpaper.png");
    background-repeat: repeat;
    padding-bottom: 100px;
}

ul.custom {
    padding: 0px;
    li {
        list-style-type: none;
    }
}

a.no-decor {
    text-decoration: none;
}

.tiny-link {
    font-size: 2rem;
}

.detail-title {
    font-size: 4rem;
}

.detail-header {
    padding: 1rem;
    background-color: white;
    min-height: 6rem;
    margin-top: 80px;
    border-bottom: 1px solid #ddd;
    .label {
        display: inline-block;
        margin: 5px;
    }
    a {
        color: inherit;
    }
}

.detail-content {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: @gutter;
    padding-right: @gutter;
    padding-left: @gutter;

    img {
        max-width: 150px;
        margin: @gutter;
    }
}

.stick-bottom {
    position: fixed;
    z-index: 999;
    bottom: 0;
    //left: 50%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
    background-color: @reactive;
    .glyphicon {
        margin-right: @gutter;
    }
}

p.note {
    background-color: #FFA;
    width: 60%;
    padding: @gutter;
}

.stick-left {
    position: fixed;
    z-index: 888;
    background-color: #E74C3C;
    padding: @gutter;
    color: white;
    width: 150px;
    bottom: 0px;
    left: 0px;
}

/******* animations *******/

@fade-duration: 200ms;

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity @fade-duration ease-in;
}

.fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity @fade-duration ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity @fade-duration ease-in;
}
