@import "~bootstrap/less/bootstrap";
@import "./style";

.white {
    color: white;
}

#nav {
    ul {
        li {
            float: left;
        }
    }
}

#nav-logo {
    height: 100%;
}

#app {
    margin-top: @navbar-height;
}

body {
    background-color: @bg;
    // from http://subtlepatterns.com/
    background-image: url("/imgs/wallpaper.png");
    background-repeat: repeat;
    padding-bottom: 100px;
}

ul.custom {
    padding: 0px;
    li {
        list-style-type: none;
    }
}

a.no-decor {
    text-decoration: none;
}

.tiny-link {
    font-size: 2rem;
}

/******* animations *******/

@fade-duration: 200ms;

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity @fade-duration ease-in;
}

.fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity @fade-duration ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity @fade-duration ease-in;
}
